html, body {
    background: #e9ebee;
    font-family: Cambria, Georgia, sans-serif;
}

.login-title {
    font-size: 18px;
    line-height: 22px;
    padding: 18px 0;
}

.login-card {
    background-color: #FFFFFF;
    margin: 100px auto auto;
    padding: 22px 108px 26px;
    border-top: solid 40px #424242;
    border-bottom: solid 20px #424242;
}

.login-card-content {
    width: 396px;
}

.login-button {
    width: 100%;
    cursor: pointer;
}

.login-card-footer {
    font-size: 12px;
    padding: 12px 0 6px;
}

.login-card-link {
    cursor: pointer;
    text-decoration: none;
}